body{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.btn{
    color: rgb(202, 167, 122);
    padding: 26px;
    border: 10px;
    size: 30px;
    border-radius: 100px;
}